### Making fully structured dataframe for further analysis

#### Importing required libraries

In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)

#### Reading city_of_Toronto csv file which we have created in first notebook

In [2]:
df = pd.read_csv("City_of_Toronto.csv")
df.head()

   Unnamed: 0 PostalCode      Borough                         Neighbourhood
0           0        M1B  Scarborough                         Rouge,Malvern
1           1        M1C  Scarborough  Highland Creek,Rouge Hill,Port Union
2           2        M1E  Scarborough       Guildwood,Morningside,West Hill
3           3        M1G  Scarborough                                Woburn
4           4        M1H  Scarborough                             Cedarbrae

In [3]:
# Dropping unwanted columns from above dataframe
df.drop(columns=['Unnamed: 0'],inplace=True)
df.head()

  PostalCode      Borough                         Neighbourhood
0        M1B  Scarborough                         Rouge,Malvern
1        M1C  Scarborough  Highland Creek,Rouge Hill,Port Union
2        M1E  Scarborough       Guildwood,Morningside,West Hill
3        M1G  Scarborough                                Woburn
4        M1H  Scarborough                             Cedarbrae

#### Getting the toronto city coordinates csv file and making a dataframe from it

In [8]:
df_geo = pd.read_csv('Geospatial_Coordinates.csv')
df_geo.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

#### Making common column names for both dataframes so as to merge them

In [9]:
df_geo.rename(columns={"Postal Code":"PostalCode"}, inplace=True)
df_geo.head()

  PostalCode   Latitude  Longitude
0        M1B  43.806686 -79.194353
1        M1C  43.784535 -79.160497
2        M1E  43.763573 -79.188711
3        M1G  43.770992 -79.216917
4        M1H  43.773136 -79.239476

### Merging both dataframes to get neighbourhoods along with their coordinates

In [11]:
result_df = pd.merge(df, df_geo, on='PostalCode')
result_df.head()

,PostalCode,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge,Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek,Rouge Hill,Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood,Morningside,West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476

In [12]:
# Printing shape of resultant dataframe
result_df.shape

(103, 5)

#### Making a csv file from above dataframe for further analysis

In [13]:
result_df.to_csv("City_of_Toronto_with_Coordinates.csv")